extends /layout
block content
    p=viewPath
    div#app
        img(src="${require(`./qq.png`)}")
        a(href=`${viewPath}/page2`)
            |asdasdas
            |asdasdasd
            |qqqqqqqqqqqqqqqqq &nbsp
        div 
            |asdasddddd999

