<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{data.styleSheet()}}
</head>
<body>
    <p>aaaaaaaa6666666aaaaaaa</p>
    <img src="./static/image/1.jpg" alt="">
    <img src="./static/image/2.png" alt="">

    {{data.script()}}
</body>
</html>