
    {%data.styleSheet()%}
    <div id="app">
        <p>6666</p>
        <!--<img src="{% require('common/static/image/1.jpg') %}" alt="">-->
        <!--<img src="./static/image/2.png" alt="">-->
    
    </div>
    {%data.script()%}
