extends /layout
prepend title
    title ss
block content
    -var title='asdd'
    p=viewPath
    div#app
        img(src="${require(`./qq.png`)}")
        a(href=`${viewPath}/page2`)
            |ggg
            |xx &nbsp
        div
            |qqq

