extends /layout
prepend title
    title ss
block content
    -var title='asdd'
    div#app
        a(href=`${viewPath}home2`,class="mt-lg")
            |ggg
            |xx3333sss33 &nbsp
        img(src='${require(`@/common/assets/img-de.png`)}')
        div

