<!-- <script src="http://localhost:7788/webpack-dev-server/client?http://localhost:7788"></script>-->
<script src="http://localhost:7788/webpack-dev-server.js"></script>
<script src="../common/static/js/jq.js"></script>
</body>
</html>