extends /common/template/layout
block content
    p=projectPath
    div#app
        img(src="${require(`./qq.png`)}")
        a(href=`${viewPath}/pageExample`)
            |2
            |2
            |2
        div 
            |asdasddddd999

